@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Righteous');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.back1 {
    background: #f1f1f1;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.back2 {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .6)), url(../img/background.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    margin-top: 12%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0);

}

.jumbotron h1 {
    font-size: 3em;
}

.pads-top-10 {
    margin-top: 10px;
}

#start {
    margin-top: 50px;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    border: 3px solid white;
    color: white;
    outline: none;
    background: transparent;
    border-radius: 5%;
}

#start:hover {
    background: white;
    color: black;
    box-shadow: 1px 0px 10px 1px #000;
}

#register,
#login {
    border: 3px solid #fff;
    padding: 30px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    background: #fff;
    margin-top: 40px;
    ;
    border-radius: 10px;
}

#register:hover,
#login:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);

}

.mars-btm-10 {
    margin-bottom: 10px;
}

.mars-btm-20 {
    margin-bottom: 20px;
}

.mars-top-30 {
    margin-top: 30px;
}

.mars-top-10 {
    margin-top: 10px;
}

.btn-custom {
    background: #fff;
    border-radius: 0;
}

.search-1 {
    border-radius: 10px 0 0 10px;
    outline: 0;
    border: 0;
}

.search-2 {
    border-radius: 0px 10px 10px 0px;
    outline: 0;
    border: 0;
}

#curve {
    border-radius: 10px;
}

.title {
    border-bottom: 3px solid #fff;
    padding: 5px;
    margin-bottom: 30px;
}

.bg-custom {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 10px 1px #000;
}

.bg-custom-2 {
    background: #243447;
    box-shadow: 1px 1px 5px 1px #000;
}

body {
    background: #f1f1f1;
}

a#links > h5 {
    color: black !important;
}

a#links > h5:hover {
    text-decoration: none;
    text-decoration-line: none;
    color: #243447 !important;
}

a:hover {
    text-decoration: none !important;
}

.linked > a:hover {
    text-decoration: underline!important;
}

#home,
#comments, #edit {
    padding-top: 100px;
    background: #f1f1f1;

}

#empty-msg {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

div.txt-area {
    //padding: 20px;
}

#cover {
    background: #f1f1f1;
}

#other-user img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}

#other-user {
    border-radius: 10px;
}

#other-lines {

    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);

    background: #fff;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 5px; //border-bottom: 1px solid rgba(128, 128, 128, 0.32) !important;
}

#other-lines:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

a {
    color: #000;
}

#cover {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background: linear-gradient(to bottom, #f7d232, #f7d232);
}

#profile-pic {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 1);
    background: #fff;
    object-fit: cover;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    background-size: cover;
}

.boxes {
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    margin-right: 10px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.boxes > a:hover {
    color: #000;
}

.home-pic {
    //box-shadow: 0px 0px 5px 0px #000;
    background: #fff;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 280px;
}

#home p {
    font-size: 0.8em;
}

#home h6 {
    font-weight: normal;
}

#profile-head {
    position: relative;
    padding-top: 15%;
    color: white;
    text-align: center;
}
.btn-outline-primary.focus, .btn-outline-primary:focus,.btn-primary.focus, .btn-primary:focus{
    box-shadow: 0px 0px 0px 0px #000 !important;
}
.btn-outline-primary:not([disabled]):not(.disabled).active, .btn-outline-primary:not([disabled]):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
}
#exp {
    background: white;
    border-radius: 10px;
    padding-bottom: 5px; 
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);

}

#exp:hover,
.boxes:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.shadow:hover {
    box-shadow: 1px 2px 4px 0 rgba(46, 61, 73, .2);
}

#posts {
    width: 100%; //border-radius: 10px;
    //box-shadow: -1px 1px 10px 0.1px rgba(0, 0, 0, 0.35);
}

#profile-details {
    margin-top: 10px;
    text-align: center !important;
}

div#exp a:hover {
    color: #000;
}

#post-circle {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#settings-title {
    border: 4px solid #243447;
    padding: 10px;
    text-transform: uppercase;
    background: #243447;
    color: #fff;
}

.shadow {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);

}

body#sets {
    overflow-x: hidden;
}

#settings-content {
    padding: 50px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
}

a#click p:hover {
    color: #000 !important;
}

input.text-box1,
textarea {
    border: 3px solid #f1f1f1 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    border-radius: 10px;
}

input.text-box1:focus,
textarea:focus {
    outline: 0;

}

#home-textarea {
    border: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

input#fileToUpload {
    margin-bottom: 10px;
}

#search-results {
    margin-top: 5%;
    padding: 20px;
}

#search-results a:hover {
    text-decoration: none;
}

#search-pic {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 10px 0px 0px 10px;
}

#post-box {
    //border-bottom: 1px solid rgba(128, 128, 128, 0.32);
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);

    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 5px;
}

#post-box:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
    cursor: pointer;
}

#post-box:last-child {
    border-bottom: 0;
}

#post-box p {
    font-size: 1em;
}

#post-box p:hover {
    color: #000;
}

.navbar-brand {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.5em;
    font-family: 'Righteous', cursive !important;

}

.navbar-dark .navbar-toggler {
    color: #fff !important;
    border-color: rgba(255, 255, 255, 0) !important;
}

#post-box > div#pro-info {
    padding-bottom: 10px;
}

.small-pic {
    width: 100px;
    height: 100px;
    text-align: left;
    object-fit: cover;

}

.mars-lft-5 {
    margin-left: 5px;
}

#mb-view h5 {
    font-size: 1.5em;
}

#mb-view h6 {
    font-size: 0.8em;
}

#mb-view {
    margin-bottom: 3px;
    background: #fff;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

#mb-view-2 {
    margin-bottom: 10px;
    background: #fff;
    padding: 5px;
    border-radius: 0 0 10px 10px;
}

#mb-view-2 p {
    margin: 0 auto;
    font-size: .9em;
}

#mb-view:a {
    text-decoration: underline !important;
}

.comm-box,
.comm-box-1 {
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.comm-box:last-child,
.comm-box-1:last-child {
    border-right: 0;
}

.comm-box-1 {
    border-bottom: 1px solid #e2e2e2;

}

.comm-box:hover,
.comm-box-1:hover {
    background: #fafafa;
    color: red !important;

    border-radius: 0 0 10px 10px;
}

.comm-box > a:hover,
.comm-box-1 > a:hover {
    color: red !important;
}

.comments-box {
    padding: 15px;
    padding-bottom: 0;
    background: #fff;
    margin-top: 7px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

.cb {
    border-radius: 10px;
    border: 0;
}

.text-box {
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
}

#settings {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 10px !important;
}

.comments-box:hover,
.text-box:hover,
#settings:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);

}

.main-comments {
    margin-bottom: 50px;
}

.comment-circle {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

#drop-circles {
    position: relative;
    left: 4%;
}

img[alt*="www.000webhost.com"] {
    display: none;
}

@media only screen and (max-width:767px) {
    #profile-head {
        position: relative;
        padding-top: 35%;
        color: white;
        text-align: center;
    }
    div#drop-circles {
        padding-left: 30px !important;
    }
    #home,
    #comments,#edit {
        padding-top: 80px;
    }
}

@media only screen and (max-width:360px) {

    #drop-circles {
        position: relative;
        left: 1%;
    }
    #pro-name {
        padding-left: 25px;
    }
    .small-pic {
        width: 80px;
        height: 80px;
        text-align: left;
        object-fit: cover;

    }
    #mb-view h5 {
        font-size: 1.2em;
    }
}
