# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore


img/profile_pic/
img/cover_pic/
HubBot/.idea
HubBot/__pycache__
HubBot/web
HubBot/requirements.txt
HubBot/rasa_core.log
HubBot/out.log
HubBot/stories.md
js/.jshintrc
.idea/